<div class="container">
{% for project in projects %}
    <div class="row top-buffer project-list-item">
        <div class="col-md-2">
            <h3><a href="{% url 'internal:project_detail' project.id %}">{{ project.name }}</a></h3>
            <!-- todo: project labels-->
            <span class="label label-default">Test</span>
            <span class="label label-default">Test</span>

        </div>
        <div class="col-md-3">
            <p>{{ project.desc|truncatechars:75 }}</p>
        </div>
        <div class="col-md-3">
            {% include "internal/fragments/frag_project_progress.html" %}
        </div>
        <div class="col-md-3">
            <p>Collaborators</p>
            <!--todo: add profile pic functionality-->
        </div>
        <div class="col-md-1"></div>
    </div>
{% endfor %}
</div>